@import '~antd/dist/antd.css';
@import "../../style/variables.scss";

.story {
  width: 100%;
  border: 1px solid $orange;

  .ant-card-head-title {
    color: $orange;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .ant-card-body {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;

    .user {
      font-weight: 600;
    }
  }

  &.link {
    cursor: pointer;
  }

  @media screen and (max-width: $medium) {

    .ant-card-head {
      padding: 0 15px;

      .ant-card-head-title {
        font-size: 1.15rem;
        padding: 15px 0;
        white-space: normal;
        overflow: visible;
      }
    }

    .ant-card-body {
      padding: 15px;
    }
  }
}
