@import '~antd/dist/antd.css';
@import "../../style/variables.scss";

.layout {
  padding: 10px;
  display: flex;
  justify-content: center;

  .ant-page-header-heading-title {
    color: $white;
    font-size: 2rem;
  }

  @media screen and (max-width: $medium) {
    padding: 5px;

    .ant-page-header-heading-title {
      font-size: 1.5rem;
    }
  }
}
